* {
    margin: 0;
    font-family: 'Playfair', serif;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.leaflet-container {
    border-radius: 20px;
    opacity: 0.8;
    width: 50vw;
    height: 50vh;
    z-index: 0;
}

.leaflet-container img {
    max-width: 80px;
}

@media screen and (max-width: 926px) {
    .leaflet-container {    
        width: 100vw;
        height: 50vh;
    }
}

/* div.horses {
    color:rgba(57, 54, 38, 1); - dark yellow/brown
    color:rgba(149, 176, 113, 1); - lighter green (nav)
    color:rgba(100, 114, 97, 1); - forest green
    color:rgba(147, 141, 123, 1); - clay/grey
    color:rgba(181, 181, 161, 1); - light clay/yellow
    color:rgba(239, 234, 225, 1); -  whiteish
    color: rgb(248, 148, 25, 1); - orange
} */

/* https://i.ibb.co/Gd9hVxM/Final-2.png
https://i.ibb.co/QJwXc4w/Icon.png
https://i.ibb.co/1QNbf7L/Card.png */