* {
    margin: 0;
    font-family: 'Playfair', serif;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.leaflet-container {
    border-radius: 20px;
    opacity: 0.8;
    width: 50vw;
    height: 50vh;
    z-index: 0;
}

.leaflet-container img {
    max-width: 80px;
}

@media screen and (max-width: 926px) {
    .leaflet-container {    
        width: 100vw;
        height: 50vh;
    }
}