* {
    margin: 0;
    font-family: 'Merriweather', sans-serif;
}


html {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(239, 234, 225, 0.7); 
}

/* html.log-form {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(255, 255, 255, 0.7); 
} */

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.footerpage {
    padding-bottom: 30rem;
}

.leaflet-container {
    border-radius: 20px;
    opacity: 0.7;
    width: 50vw;
    height: 50vh;
    z-index: 0;
}

.leaflet-container img {
    max-width: 80px;
}

@media screen and (max-width: 926px) {
    .leaflet-container {    
        width: 100vw;
        height: 50vh;
    }
}

div.horses {
    color:rgba(57, 54, 38, 1); 
    color:rgb(149, 176, 113, 1);
    color:rgba(100, 114, 97, 1);
    color:rgba(147, 141, 123, 1);
    color:rgba(181, 181, 161, 1);
    color:rgba(239, 234, 225, 1);    
    color: rgb(248, 148, 25, 1);
}